<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wheatek.ble_demo">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 打开MICROPHONE -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 往sdcard中写入数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bledemo">
        <activity android:name=".activity.PlayMusicActivity"></activity>
        <activity android:name=".activity.BondDirectActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecorderActivity" />
        <!--
        <receiver
            android:name=".receiver.StopReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wheatek.stop_test"/>
            </intent-filter>
        </receiver>
        -->
        <activity android:name=".activity.AutoConnActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Bt3AutoConnActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ReceiveBleActivity" />
        <activity android:name=".activity.SendBleActivity" />
        <activity
            android:name=".activity.ControlActivity"
            android:label="control" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BleActivity"
            android:label="ble" />
        <activity
            android:name=".activity.Bt3Activity"
            android:label="bt3"
            android:launchMode="singleTask" />

        <service
            android:name=".service.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>